/*=============================================
[ Page Setup ]
==============================================*/
@import url(http://fonts.googleapis.com/css?family=Raleway:600);
header {
	width:100%;
	height:100px;
	font-family: 'Raleway', sans-serif;
	position:relative;
	text-align:center;
}
header .back {
color:#CCC;
font-size: 13px;
text-decoration:none;
}
header a:hover {
	color:#52be7f;
}
header .right {
	margin: 10px 20px 0 0px;
	float:right;
}
header .left {
	margin: 10px 0px 0 20px;
	float:left;
}
header h1 {
	color:#999;
	font-size:23px;
	padding-top: 30px;
}

#pageWrap {
    width: 100%;
    overflow: hidden;
}
.innerwrap {
    width: 100%;
    overflow: hidden;
    padding: 0px 0 50px;
}
.innerwrap.purple { background: #af7ac4 }
.innerwrap.blue { background: #246f91 }
.innerwrap.teal { background: #3aada6 }
.innerwrap.red { background: #f26c63 }
.innerwrap.green { background: #52be7f }
.innerwrap.yellow { background: #f3cf3f }
.innerwrap.yellow .iconholder { max-width: 680px }
.iconholder {
    width: 100%;
    max-width: 656px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}
.iconholder h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #fff;
    margin: 50px;
}
/*=============================================
[ Icon Wrap]
==============================================*/
.svg-icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0px 15px;
    float: left;
}
.svg-icon:hover { cursor: default }
.flat-filled {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0px 15px;
}
.flat-line {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0px 15px;
}
.flat-shadow {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 0px 15px;
}